<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

  <link href="static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">00 : Home</a></li>
          <li><a href="./add_listing.html" title="">01 : Add listing</a></li>
        </ul>
        <form action="search_listing" method="post" class="reveal-content" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <input name="prompt" type="text" class="form-control" id="prompt" placeholder="Search queries here">
              </div>
              </div>
              <div>
                <input type="submit" value="Submit" class='subm-class' style='{background:white;}' height='200' >
              </div>
            </div>
          </div>
        </form>
      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>Welcome to the site</span>
                  <span>A scalable web app for listing under-construction projects</span>
                  <span>With AI-powered search, geolocation integration, and user-friendly interface</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
          <div class='propertycards' id="cardContainer" ></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="static/main.70a66962.js"></script></body>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    type();
     movingBackgroundImage();
    createCards();
  });
  
</script>
<script src='static/card.js'></script>
<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
  
  const firebaseConfig = {
    apiKey: "AIzaSyAMd6Tw1a0k6F1CG4al43Vk6CRLCFlpy_4",
    authDomain: "trial-b8c5a.firebaseapp.com",
    projectId: "trial-b8c5a",
    storageBucket: "trial-b8c5a.appspot.com",
    messagingSenderId: "287460725639",
    appId: "1:287460725639:web:b55cd1b4ca7b08babdf922",
    measurementId: "G-YH3Y5QKY95"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);

  import {getDatabase, ref, set, child, update, remove, onValue } 
  from 'https://www.gstatic.com/firebasejs/10.9.0/firebase-database.js'

  const db = getDatabase();
  const usersRef = ref(db, 'users');
  
   var property_list = [];

function getPropertyDetails() {
  onValue(usersRef, (snapshot) => {
    snapshot.forEach((snap) => {
      const user = snap.val();
      Object.entries(user).forEach(([key, value]) => {
        if (key === user.username) { // Check if the key matches the username
          //console.log(key, value); // Display username and its associated value object
          Object.entries(value).forEach(([itemId, item]) => {
            //console.log(itemId, item); // Display itemId and its associated item object
            // Access individual properties
            const area_in_sqft = item.area_in_sqft;
            const bathrooms = item.bathrooms;
            const bedrooms = item.bedrooms;
            const developer_name = item.developer_name;
            const location = item.location;
            const project_name = item.project_name;
            const project_status = item.project_status;
            const property_type = item.property_type;

            // Append key-value pairs to property_list
            property_list.push({
              area_in_sqft: area_in_sqft,
              bathrooms: bathrooms,
              bedrooms: bedrooms,
              developer_name: developer_name,
              location: location,
              project_name: project_name,
              project_status: project_status,
              property_type: property_type
            });
          });
        }
      });
    });
  });
}
getPropertyDetails();
console.log('index')
console.log(property_list)


</script>
  
</html>
